<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List Project</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
  </head>
  <body>
    <script>
      todolist = angular.module("todolist", []);
      todolist.controller("t_con", function($scope) {
        $scope.list = [
          'Go Shopping',
          'Buyting Laptops',
          'Coming Back to Home',
          'Take Some Sleep'
        ],
        $scope.add_item = function() {
          $scope.list.push($scope.get_item);
        },
        $scope.del_item = function(del_id) {
          $scope.list.splice(del_id,1);
        }
      });
    </script>
    <div ng-app="todolist" ng-controller="t_con">
      <ul>
        <li ng-repeat="x in list">{{x}}<span ng-click="del_item($index);">&times;</span></li>
      </ul>
      <input type="text" ng-model="get_item">
      <button ng-click="add_item();">Add New Item</button>
    </div>
  </body>
</html>