<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn Angularjs</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
  </head>
  <body ng-app="con2" ng-controller="newCtrl2">
    <ul>
      <li ng-repeat="x in people">{{x.name}}</li>
    </ul>
    <table class="table table-striped table-hover table-bordered text-center" border="1">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Age</th>
        <th>Skill</th>
      </tr>
      <tr ng-repeat="x in people">
        <td>{{$index + 1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.age}}</td>
        <td>{{x.skill}}</td>
      </tr>
    </table>
    <script src="app/controller.js"></script>
  </body>
</html>